td { font-size: 13px; }
th { font-size: 13px; }

.relative-wrapper {
	position: relative;
}

.uppercase { text-transform: uppercase; }

#group_performance .card-body {
	overflow-x: scroll;	
}

#group_performance #myTable_info,
#group_performance #myTable_paginate { margin-top: 10px; }

#group_performance #myTable_filter, #group_performance #myTable_paginate {
	right: 20px;
}

#group_performance #myTable_wrapper {
	margin-bottom: 60px;
	padding-top: 40px;
}

#group_performance #myTable { margin-top: 40px; }

a.btn { color: #fff !important; }
nav svg { height: 15px; }
nav .text-sm.text-gray-700.leading-5 { margin-top: 20px; }
nav .relative.inline-flex.items-center {  }

span [aria-current="page"] span {
	background-color: #0f2a48 !important;
	color: #fff !important;
}

.bottom-sticky-wrapper {
	position: fixed;
    width: 400px;
    bottom: 0;
    text-align: center;
    font-size: 15px;
    right: 20px;
}